/*Шрифты*/
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat.otf);
}
@font-face {
	font-family: Montserrat-SemiBold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
	font-family: Montserrat-Medium;
	src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: Lato;
	src: url(../fonts/Lato.ttf);
}
@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins.otf);
}
@font-face {
	font-family: Poppins-Bold;
	src: url(../fonts/Poppins-Bold.otf);
}

/*Общие свойства*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: Montserrat, Arial, serif;
	color: #222;
}

a {
	text-decoration: none;
}

/*Шапка*/
header {
	background: url(../img/header-bg.png) no-repeat;
	background-size: cover;
	height: 988px;
	position: relative;
}

header .logo {
	margin: 30px 0 0 5%;
}

nav {
	float: right;
	margin: 30px 5% 0 0;
	font-size: 0;
	line-height: 0;
}

nav .button {
	margin-right: 25px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 25px;
	border: 2px solid #71b4ff;
	transition: background 0.7s;
}

nav .button:hover {
	background: #71b4ff;
}

a .button {
	color: #fff;
}

nav .search {
	margin-right: 30px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../img/nav-sprite.png) no-repeat 0 0;
}

nav .menu {
	width: 15px;
	height: 13px;
	display: inline-block;
	background: url(../img/nav-sprite.png) no-repeat -16px 0;
}

h1 {
	margin: 0;
	color: #e2e2e2;
	font-weight: normal;
	font-size: 20px;
    width: 100%; 
    padding-top: 280px;
    text-align: center;
}

.text {
	font: 40px/55px Montserrat-SemiBold;
	color: #e2e2e2;
	margin-top: 50px;
    width: 100%; 
    text-align: center;
}

/*Контент*/
main {
	text-align: center;
}

.work {
	font: 50px/50px Montserrat-SemiBold;
	margin-top: 150px;
	display: block;
}

.desire {
	font: 20px/35px Montserrat;
	margin-top: 50px;
}

.description {
	margin-top: 75px;
	font-size: 0;
	line-height: 0;
}
.description div {
	display: inline-block;
	margin-left: 2%;
}
.description img {
	display: block;
	width: 88px;
	margin: 0 auto;
}
.description h3 {
	font: 24px/24px Montserrat-Medium;
	margin-top: 50px;
}
.description p {
	font: 17px/30px Montserrat;
	color: #7c7c7c;
	margin-top: 25px;
}

.portfolio h4 {
	font: 50px/40px Montserrat-SemiBold;
	margin-top: 145px;
}
.portfolio p {
	font: 20px/35px Montserrat;
	margin-top: 50px;
}
.portfolio ul {
	text-transform: uppercase;
	font: 15px/15px Lato;
	text-align: center;
	color: #888;
	margin-top: 75px;
}

.portfolio li {
	display: inline-block;
	position: relative;
	list-style: none;
	margin-right: 2.6%;
	padding-bottom: 15px;
	transition: color 0.5s ease-out;
}

.portfolio li:after {
	display: block;
	position: absolute;
	opacity: 0;
	height: 1px;
	width: 100%;
	background-color: #000;
	content: "";
	transition: opacity 0.5s ease-out;
}
.portfolio li:hover:after {
	opacity: 1;
}

.portfolio li:hover {
	color: #000;
}

.portfolio hr {
	background-color: #f0f0f0;
	height: 1px;
	width: 60%;
	border: none;
	margin: 0 auto;
}

.gallery {
	margin-top: 50px;
	font-size: 0;
	line-height: 0;
} 

.gallery img {
	width: 33.33%; 
}

span.title {
	font: 20px/20px Poppins;
	text-transform: uppercase;
	color: #666;
	margin-top: 140px;
	display: block;
}

p.over {
	color: #333;
	font: 40px/50px Montserrat-SemiBold;
	margin-top: 35px;
	margin-bottom: 70px;
}

.logos {
	margin: 80px 1.5% 150px 0;
}

.contacts {
	font-size: 0;
	line-height: 0;
}

/*Форма - левый блок*/
.form {
	display: inline-block;
	vertical-align: top;
	width: 55.4%; 
	background-image: url(../img/form-bg.jpg);
	height: 700px;
}

form {
	margin: 130px 10% 0 35%;
	text-align: left;
}

input, textarea {
	font: 14px/14px Montserrat;
	color: #ccc;
	letter-spacing: 1px;
	background-color: transparent;
	border: 1px solid #514b8f;
	padding: 20px;
}

input {
    height: 50px;
}

input[name="firstname"] {
	width: 47.3%;
}

input[name="lastname"] {
	width: 47.3%;
	margin-left: 5.4%;
}

input[name="email"] {
	margin-top: 30px;
	width: 100%;
}

textarea {
	margin-top: 30px;
	height: 200px;
	width: 100%;
	padding-top: 23px;
}

input[type="submit"] {
	margin: 30px 0 0 64.9%;
	width: 35%;
	height: 50px;
	background-color: #3d5ff3;
	border: none;
	text-transform: uppercase;
	font: 15px/10px Montserrat;
	letter-spacing: 2px;
    color: #fff;
    transition: background 0.7s;
}

input[type="submit"]:hover {
	background: #1d2ff1;
}

/*Контакты - правый блок*/
.adds {
	display: inline-block;
	vertical-align: top;
	width: 44.6%;
	height: 700px;
	text-align: left;
}

.adds-desc {
	margin: 110px 10% 0 10%;
}

.adds-desc h5 {
	font: 40px/40px Montserrat-SemiBold;
}

.adds-desc p {
	font: 20px/35px Montserrat;
	margin: 50px 0 0 0;
}

.adds-desc .contact-us {
	font: 20px/20px Poppins-Bold;
	text-transform: uppercase;
	margin-top: 70px;
	display: block;
}

.adds-info {
	margin: 0 10% 0 10%;
}

.geo-block {
	margin-top: 40px;
}

.phone-block, .email-block {
	margin-top: 20px;
}

.geo {
	background: url(../img/adds-sprite.png) -1px -1px;
}
	
.phone {
	background: url(../img/adds-sprite.png) -53px -1px;
}

.email {
	background: url(../img/adds-sprite.png) -1px -53px;
}

.geo, .phone, .email {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.geo+p, .phone+p, .email+p {
	display: inline-block;
	font: 15px/24px Montserrat;
	color: #444;
	vertical-align: top;
	margin-left: 15px;
}

.phone+p, .email+p {
	font: 15px/50px Montserrat;
}

.phone+p {
	letter-spacing: 1px;
}

/*Подвал*/
footer {
	font-size: 0;
}

.footer {
	width: 55.4%;
	display: inline-block;
}

.copyright {
	height: 250px;
	vertical-align: top;
	margin-left: 35%; 
}

.copyright:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}

.copyright img {
	display: inline-block;
	vertical-align: middle;
}

.author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 1px;
	background-color: #dbdbdb;
	border: none;
	margin-left: 4%;
	margin-right: 1.5%;
}

.author {
	font-size: 15px;
	line-height: 15px;
	color: #aeaeae;
	font-family: Montserrat;
	vertical-align: middle;
}

.social {
	vertical-align: top;
	height: 250px;
	display: inline-block;
	width: 44.6%;
	background: #f0f2ff;
}

.networks {
	margin-left: 12.2%;
	font-size: 18px;
	letter-spacing: 0.016em;
	line-height: 250px;
	color: #666;
	font-family: Lato;
}

.social a {
	height: 18px;
	display: inline-block;
	margin-left: 25px;
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
}

.fb {
	width: 10px;
	background-position: 0 0;
}
.tw {
	width: 16px;
	background-position: -34px 0;
}
.bi {
	width: 21px;
	background-position: -74px 0;
}
.in {
	width: 16px;
	background-position: -118px 0;
}
.im {
	width: 15px;
	background-position: -159px 0;
}
.db {
	width: 16px;
	background-position: -198px 0;
}

/*Медиа-запросы*/
@media (min-width: 1420px) and (max-width: 1770px) {
  form {
    margin-left: 25%;
  }
}

@media (min-width: 1065px) and (max-width: 1419px) {
  form {
	margin-left: 12.5%;
	margin-right: 12.5%;
  }
  
  .copyright {
    margin: 0 12.5%;
  }
}

@media (min-width: 765px) and (max-width: 1064px) {
  .gallery img {
    width: 50%;
  }
  
  form {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .form, .adds, .social {
    width: 100%;
  }
  
  .adds {
    text-align: center;
  }
  
  .phone-block, .email-block {
    margin-top: 40px;
  }
  
  .footer {
    display: none;
  }
}

@media (min-width: 515px) and (max-width: 764px) {
  form {
	margin-left: 10%;
  }
  
  .form, .adds, .social, .gallery img {
    width: 100%;
  }
  
  .adds {
    text-align: center;
  }
  
  .phone-block, .email-block {
    margin-top: 40px;
  }
  
  .footer {
    display: none;
  }
  
  header .logo {
    max-width: 35%;
  }
}

@media (max-width: 514px) {
  form {
	margin-left: 5%;
	margin-right: 5%;
  }
  
  .form, .adds, .social, .gallery img {
    width: 100%;
  }
  
  .adds {
    text-align: center;
  }
  
  .footer {
    display: none;
  }
  
  .geo-block {
    margin-top: 25px;
  }
  
  .phone-block, .email-block {
    margin-top: 15px;
  }
  
  header .logo {
    max-width: 35%;
  }
  
  .text {
    font: 30px/45px Montserrat-SemiBold;
  }
  
  nav .button {
    display: none;
  }
  
  .networks {
    display: none;
  }
  .social a {
    margin-left: 10%;
    margin-top: 107px;
    line-height: 250px;
  }
}