/*Шрифты*/
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat.otf);
}
@font-face {
	font-family: Montserrat-SemiBold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
	font-family: Montserrat-Medium;
	src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: Lato;
	src: url(../fonts/Lato.ttf);
}
@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins.otf);
}
@font-face {
	font-family: Poppins-Bold;
	src: url(../fonts/Poppins-Bold.otf);
}

/*Общие свойства*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 1720px;
	background: #fff;
	font-family: Montserrat, Arial, serif;
	color: #222;
}

a {
	text-decoration: none;
}

/*Шапка*/
header {
	background: url(../img/header-bg.png) no-repeat;
	background-size: cover;
	height: 988px;
	position: relative;
}

header .logo {
	margin: 30px 0 0 5%;
}

nav {
	float: right;
	margin: 30px 5% 0 0;
	font-size: 0;
	line-height: 0;
}

nav .button {
	margin-right: 25px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 25px;
	border: 2px solid #71b4ff;
	transition: background 0.7s;
}

nav .button:hover {
	background: #71b4ff;
}

a .button {
	color: #fff;
}

nav .search {
	margin-right: 30px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../img/nav-sprite.png) no-repeat 0 0;
}

nav .menu {
	width: 15px;
	height: 13px;
	display: inline-block;
	background: url(../img/nav-sprite.png) no-repeat -16px 0;
}

h1 {
	margin: 0;
	color: #e2e2e2;
	font-weight: normal;
	font-size: 20px;
    width: 100%; 
    padding-top: 280px;
    text-align: center;
}

.text {
	font: 40px/55px Montserrat-SemiBold;
	color: #e2e2e2;
	margin-top: 50px;
    width: 100%; 
    text-align: center;
}

/*Контент*/
main {
	text-align: center;
}

.work {
	font: 50px/50px Montserrat-SemiBold;
	margin-top: 150px;
	display: block;
}

.desire {
	font: 20px/35px Montserrat;
	margin-top: 50px;
}

.description {
	margin-top: 75px;
	font-size: 0;
	line-height: 0;
}
.description div {
	display: inline-block;
	margin-left: 2%;
}
.description img {
	display: block;
	width: 88px;
	margin: 0 auto;
}
.description h3 {
	font: 24px/24px Montserrat-Medium;
	margin-top: 50px;
}
.description p {
	font: 17px/30px Montserrat;
	color: #7c7c7c;
	margin-top: 25px;
}

.portfolio h4 {
	font: 50px/40px Montserrat-SemiBold;
	margin-top: 145px;
}
.portfolio p {
	font: 20px/35px Montserrat;
	margin-top: 50px;
}
.portfolio ul {
	text-transform: uppercase;
	font: 15px/15px Lato;
	text-align: center;
	color: #888;
	margin-top: 75px;
}

.portfolio li {
	display: inline-block;
	position: relative;
	list-style: none;
	margin-right: 2.6%;
	padding-bottom: 15px;
	transition: color 0.5s ease-out;
}

.portfolio li:after {
	display: block;
	position: absolute;
	opacity: 0;
	height: 1px;
	width: 100%;
	background-color: #000;
	content: "";
	transition: opacity 0.5s ease-out;
}
.portfolio li:hover:after {
	opacity: 1;
}

.portfolio li:hover {
	color: #000;
}

.portfolio .hr {
	background-color: #f0f0f0;
	height: 1px;
	width: 60%;
	border: none;
	margin: 0 auto;
}

.gallery {
	margin-top: 50px;
	font-size: 0;
	line-height: 0;
} 

.gallery img {
	width: 33.33%;
}

span.title {
	font: 20px/20px Poppins;
	text-transform: uppercase;
	color: #666;
	margin-top: 140px;
	display: block;
}

p.over {
	color: #333;
	font: 40px/50px Montserrat-SemiBold;
	margin-top: 35px;
	margin-bottom: 70px;
}

.logos {
	margin: 80px 1.5% 150px 0;
}

.contacts {
	font-size: 0;
	line-height: 0;
}

/*Форма - левый блок*/
.form {
	display: inline-block;
	vertical-align: top;
	width: 55.4%;
	background-image: url(../img/form-bg.jpg);
	height: 700px;
}

form {
	border: 1px solid;
	margin-left: 35.2%;
	margin-top: 130px;
	text-align: left;
}

input, textarea {
	font: 14px/14px Montserrat;
	color: #ccc;
	letter-spacing: 1px;
	background-color: transparent;
	border: 1px solid #514b8f;
	padding: 20px;
}

input {
    height: 50px;
}

input[name="firstname"] {
	width: 270px;
	
}

input[name="lastname"] {
	width: 270px;
	margin-left: 30px;
}

input[name="email"] {
	margin-top: 30px;
	width: 570px;
}

textarea {
	margin-top: 30px;
	height: 200px;
	width: 570px;
	padding-top: 23px;
}

.form input[type="submit"] {
	margin-top: 30px;
	margin-left: 370px;
	width: 200px;
	height: 50px;
	background-color: #3d5ff3;
	border: none;
	text-transform: uppercase;
	font: 15px/10px Montserrat;
	letter-spacing: 2px;
    color: #fff;
}

/*Контакты - правый блок*/
.adds {
	display: inline-block;
	vertical-align: top;
	width: 44.6%;
	height: 700px;
	position: relative;
}

.adds .one {
	position: absolute;
	font: 40px Montserrat-SemiBold;
	top: 110px;
	left: 10%;
}

.adds .two {
	position: absolute;
	font: 20px/35px Montserrat;
	text-align: left;
	top: 200px;
	left: 10%;
}

.adds .three {
	position: absolute;
	left: 10%;
	top: 330px;
	font: 20px/20px Poppins-Bold;
	text-transform: uppercase;
}

.geo {
	margin-left: 10%;
	margin-top: 400px;
	width: 50px;
	height: 50px;
	background: url(../img/adds-sprite.png) -1px -1px;
}

.geo-p {
	position: absolute;
	left: 17.5%;
	top: 400px;
	font: 15px/24px Montserrat;
	color: #444;
}

.phone {
	position: absolute;
	left: 10%;
	top: 470px;
	width: 50px;
	height: 50px;
	background: url(../img/adds-sprite.png) -53px -1px;
}

.phone-p {
	position: absolute;
	left: 17.5%;
	top: 470px;
	font: 15px/50px Montserrat;
	color: #444;
}

.email {
	position: absolute;
	left: 10%;
	top: 540px;
	width: 50px; 
	height: 50px;
	background: url(../img/adds-sprite.png) -1px -53px;
}

.email-p {
	position: absolute;
	left: 17.5%;
	top: 540px;
	font: 15px/50px Montserrat;
	color: #444;
}

/*Подвал*/
footer {
	font-size: 0;
}

.footer {
	width: 55.4%;
	height: 250px;
	display: inline-block;
	vertical-align: top;
}

.footer:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}

.footer img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35.2%;
}

.hr-footer {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 1px;
	background-color: #dbdbdb;
	border: none;
	margin-left: 4%;
	margin-right: 1.5%;
}

.author {
	font-size: 15px;
	line-height: 15px;
	color: #aeaeae;
	font-family: Montserrat;
	vertical-align: middle;
}

.social {
	vertical-align: top;
	height: 250px;
	display: inline-block;
	width: 44.6%;
	background: #f0f2ff;
}

.networks {
	margin-left: 12.2%;
	font-size: 18px;
	letter-spacing: 0.016em;
	line-height: 250px;
	color: #666;
	font-family: Lato;
}

.social a {
	height: 18px;
	display: inline-block;
	margin-left: 25px;
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
}

.fb {
	width: 10px;
	background-position: 0 0;
}
.tw {
	width: 16px;
	background-position: -34px 0;
}
.bi {
	width: 21px;
	background-position: -74px 0;
}
.in {
	width: 16px;
	background-position: -118px 0;
}
.im {
	width: 15px;
	background-position: -159px 0;
}
.db {
	width: 16px;
	background-position: -198px 0;
}

@media (min-width: 1620px) and (max-width: 1770px) {
	
  input {
    left: 2%;
  }
  
}